<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>New Post</title>
</head>
<body>
	<%- include('partials/header')%>

	<div class="container">
		<div class="intro">
			<h3 class="intro__heading">Create your Post for free</h3>

			<form class="intro__form" method="POST" action="/create">
				<label for="title">Title</label>
				<input class="intro__input" type="text" id="title" name="title" placeholder="Title" required />
				<label for="text">Text</label>
				<textarea class="intro__input" name="text" id="text" cols="30" rows="10" required ></textarea>
				<label for="date">Date</label>
				<input class="intro__input" type="date" id="date" name="date" required />

				<button class="intro__button intro__button--submit list__link" id="intro__button" type="submit">Submit</button>
			</form>
		</div><!-- End of intro -->

	</div><!-- End of container -->

</body>
</html>
